body {
    background-color: black;
}

button {
    width: 150px;
    height: 150px;
    border-radius: 50px;
    border: 2px solid gray;
    margin: 1rem;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
}

#btnContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
}

.hide {
    display: none;
}

.rainbow {
    background-image: linear-gradient(to bottom, red,orange, yellow,green,blue,indigo,violet);
}

.fadeIn {
    visibility: visible;
    opacity: 1;
    transition: visibility 1s linear 5000s, opacity 5000ms;
}

.fadeOut {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s linear 5000ms, opacity 5000ms;
  }

#rock {
    background-image: url('./img/rocks-3989783_640.png'),
    linear-gradient(to right, red,orange, yellow);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

#paper {
    background-image: url('./img/origami-3184786_640.png'),
    linear-gradient(to right, yellow,green,blue);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
#scissors {
    background-image: url('./img/scissors-1297454_640.png'),
    linear-gradient(to right,blue,indigo,violet);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
